[submodule "external/D2.Detours"]
	path = external/D2.Detours
	url = https://github.com/Lectem/D2.Detours
[submodule "external/doctest"]
	path = external/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/squall"]
	path = external/squall
	url = https://github.com/Lectem/squall.git
[submodule "subprojects/SGD2FreeRes-GDI"]
	path = subprojects/SGD2FreeRes-GDI
	url = https://github.com/bethington/SGD2FreeRes-GDI.git
[submodule "subprojects/dsound-headless"]
	path = subprojects/dsound-headless
	url = https://github.com/bethington/dsound-headless.git
[submodule "external/flac"]
	path = external/flac
	url = https://github.com/xiph/flac.git
